body {
	font-family:Lato;
	padding:54px;
	color:#dddddd;
}
.title {
	color:#dd0000;
	font-size:40px;
	display:inline-block;
}
h1 {
	font-weight: lighter;
	color: #cccccc;
	}
h2 {
	font-weight: lighter;
	color:black;
	text-decoration:none;
	font-size: 30px;
}
.better-dressed {
	display:inline-block;
}
.nav {
	padding: 20px;
}
.nav a {
	color:#ffffff;
	font-size: 22px;
	margin: 65px;
	text-decoration:none;
	width: 20px;
	background-color: black;
	margin:5px;
	padding:0px 62px;
	padding-top: 15px;
	padding-bottom: 15px;
	/* I can't for the life of me get the nav bar to match the spec! */
}
.copyright{
	color:#bbbbbb;
	padding-top: 20px;
}
#footer {
	color:#dddddd;
	padding-top: 10px
}
#footer a {
	color:red;
	text-decoration: none;
}
article {
	border-bottom: solid;
	border-color: #dddddd;
	padding-bottom: 20px;
	border-width: thin;
	color:#444444;
}
.continues, .more {
	color:red;
	font-weight: bold;
	text-align: right;
}
img {
	width:100%;
}
.float-right {
	float:right;
	width:30%;
	margin:5px;
	padding-top:10px;
}
h3 {
	color:#6c6c6d;

}
li {
	color:red;
}
li::before {
  color:#6c6c6d; 
  /*not sure how to get the bullet points to be grey */
}
.container {
	float:left;
	width:60%;
	padding-top:10px;
}
.ad {
	padding:10px;
	border-bottom: solid;
	border-top: solid;
	border-color: #dddddd;
	padding: 20px;
	border-width: thin;
	margin:15px 0px;
}
p {
	color:#4e4e4f;
}