/* ALL PAGES */
body {
	background: linear-gradient(#99b2db, white);
	font-family: 'Frank Ruhl Libre', serif;
}
h1 {
	align-content:center;
}

#nav {
	display:flex;
	list-style-type: none;
	justify-content:end;
	border:2px solid gray;
}
#nav li {
	margin:8px;
	padding:20px;
	width:100px;
	list-style-type: none;
	background-color:#5c8ad6;
	color:white;
	border:5px;
	border-radius:2px;
	text-align: center;
}
.nav-link {
	font-size: 34px;
}
footer {
	background-color: #314463;
	text-align: left;
	clear: float;
	color:gray;
}
#box {
	align-content: center;
}

#logo {
	width:199 px;
	height:120 px;
	border:0 px; 

}
#refer {
	align-content: center;
}
/*HOMEPAGE*/
#welcome {
	float:center;
}
.homepage {
	display:flex;
	justify-content:space-between;
	align-items:stretch;
	font-size:20px;
}
#about {
	margin:15px;
	border: solid gray;
	padding:15px;
}
#about-neurology {
	margin:15px;
	border: solid gray;
	padding:15px;
}
#building {
	width:1000;
	border:0;
}
/*SERVICES PAGE*/

/*PATIENT INFO*/
#bring-box {
	border:2px blue;
	float:right;
}

/*CONTACT PAGE*/
.contact-page {
	background-image:url("candid.jpg");
}
.treatments {
	float:right;
}
/*PHYSICIANS PAGE*/

/*RESOURCES*/